<div class="RoundelWrapper" style="width:400px;">
  <picture class="amp-dc-image">
    <a title="{{{roundelToolTip}}}" href="{{roundelLink}}">
      <img src="//{{roundel.defaultHost}}/i/{{roundel.endpoint}}/{{escapeUrl roundel.name}}" alt="{{{roundelToolTip}}}">
    </a>
  </picture>
</div>

<style>

.roundelLocale {
    padding: 20px 50px;
}
.RoundelWrapper {
    border: 2px dashed #ddd;
    min-height: 420px;
    position: relative;
    margin:0 auto;
}
picture.amp-dc-image {
    position: absolute;
    top:0;
    left:0;
}
h2 {
    font-size: 20px;
    color: #fff;
    background: #000;
    width: 175px;
    padding: 3px 5px;
    border-radius: 4px;
    margin: 0 0 20px;
    text-align: center;
}



</style>
