<div class="RoundelWrapper">
  <picture class="amp-dc-image">
    <a title="{{{roundelToolTip}}}" href="{{roundelLink}}">
      <img src="//{{roundel.defaultHost}}/i/{{roundel.endpoint}}/{{escapeUrl roundel.name}}?w=60%" alt="{{{roundelToolTip}}}">
    </a>
  </picture>
</div>

<style>

.roundelLocale {
    padding: 20px 50px;
}
.RoundelWrapper {
    min-height: 400px;
    width:400px;
    position: relative;
    margin:0 auto;
}
picture.amp-dc-image {
    position: absolute;
    top:0;
    left:0;
}

</style>
